<button
  onclick="press(this)"
  aria-pressed="true"
  class="rounded py-[1.5px] px-2 text-sm shadow-sm pressed:bg-gradient-to-b pressed:from-vibrant-dark pressed:to-default-light pressed:text-white pressed:shadow-md pressed:active:to-vibrant-light"
>
  Button
</button>

<button
  onclick="press(this)"
  aria-pressed="true"
  class="rounded py-[1.5px] px-2 text-sm shadow-sm active:bg-gray-100 pressed:text-default-light"
>
  Button
</button>

<button
  disabled
  class="rounded py-[1.5px] px-2 text-sm shadow-sm active:bg-gray-100 disabled:pointer-events-none disabled:opacity-40"
>
  Disabled
</button>
